<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="database"
			 connectionString="Data Source=DESKTOP-E5915CT\\SQLEXPRESS;Initial Catalog=dbLibrary;User ID=sa;Password=1234;Encrypt=False;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>